* {
    margin: 0px;
    font-family: "Roboto", serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: grey;
    border: 3px;
    border-style: solid;
    border-color: white;
}

.nav-title{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    font-size: 40px;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

button {
    display: flex;
    background-color: rgb(61, 219, 219);
    color: white;
    padding: 10px;
    height: 30px;
    width: 100px;
    box-shadow: 20em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}